.App {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.App::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1; /* Ajusta la opacidad para oscurecer la imagen */
  z-index: -1; /* Asegura que la imagen esté detrás de otros elementos */
}

.table-hover tbody tr:hover {
  background-color: #ddd; /* Cambia esto al color que quieras para el hover */
  cursor: pointer;
}